.nav-bar {
  width: 100%;
  display: inline-flex;
  background-color: #add0f3;
  justify-content: space-between;
}

.nav-bar-inner {
  display: flex;
}

.nav-item {
  text-decoration: none;
}

.nav-item:hover {
  background-color: #ffcad5;
}

.nav-item > a {
  text-decoration: none;
  color: black;
}

