
ingredients-catalog-client/angular.json
ingredients-catalog-server/src/main/resources/application.properties
internet-shop-server/src/main/resources/application.properties
BankServer/.vs/BankServer/DesignTimeBuild/.dtbcache
BankServer/.vs/BankServer/config/applicationhost.config
BankServer/.vs/BankServer/v16/.suo
