
ingredients-catalog-client/angular.json
ingredients-catalog-server/src/main/resources/application.properties
internet-shop-server/src/main/resources/application.properties
BankServer/.vs/BankServer/DesignTimeBuild/.dtbcache
BankServer/.vs/BankServer/config/applicationhost.config
BankServer/.vs/BankServer/v16/.suo
BankServer/.vs/BankServer/DesignTimeBuild/.dtbcache.v2
MenuServer/.vs/MenuServer/DesignTimeBuild/.dtbcache
MenuServer/.vs/MenuServer/config/applicationhost.config
MenuServer/.vs/MenuServer/v16/.suo
MenuServer/.vs/MenuServer/DesignTimeBuild/.dtbcache.v2
MenuServer/.vs/MenuServer/DesignTimeBuild/.dtbcache.v2
MenuServer/.vs/MenuServer/v16/.suo
AuthServer/.vs/AuthServer/DesignTimeBuild/.dtbcache
AuthServer/.vs/AuthServer/config/applicationhost.config
AuthServer/.vs/AuthServer/v16/.suo
AuthServer/.vs/AuthServer/DesignTimeBuild/.dtbcache.v2
AuthServer/.vs/AuthServer/DesignTimeBuild/.dtbcache.v2
AuthServer/.vs/AuthServer/v16/.suo
