<div class="container">
  <nav class="nav-bar">
    <div class="nav-bar-inner">

      <div class="nav-item">
        <a routerLink="/" class="nav-link text-white" role="button" routerLinkActive="active">Home</a>
      </div>

      <div class="nav-item">
        <a routerLink="list-ingredients" class="nav-link text-white" role="button" routerLinkActive="active">List ingredient</a>
      </div>

      <div class="nav-item">
        <a routerLink="list-dish" class="nav-link text-white" role="button" routerLinkActive="active">List dish</a>
      </div>

    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
