<div class="container">
  <nav class="nav-bar">
    <div class="nav-bar-inner">

      <div *ngIf="getAuthService().checkLogged()" class="navWithoutHover">
        <a class="nav-link text-white">Hello, {{getAuthService().getUserName()}}</a>
      </div>

      <div class="nav-item">
        <a routerLink="/" class="nav-link text-white" role="button" routerLinkActive="active">Home</a>
      </div>

      <div *ngIf="!getAuthService().checkLogged()" class="nav-item">
        <a routerLink="login" class="nav-link text-white" role="button">Login</a>
      </div>

      <div *ngIf="!getAuthService().checkLogged()" class="nav-item">
        <a routerLink="registration" class="nav-link text-white" role="button">Registration</a>
      </div>

      <div *ngIf="getAuthService().checkLogged()" class="nav-item">
        <a (click)="logout()" routerLink="" class="nav-link text-white" role="button">Logout</a>
      </div>

      <div *ngIf="getAuthService().checkLogged() && getAuthService().getRole() === 'admin'" class="nav-item">
        <a routerLink="list-ingredients" class="nav-link text-white" role="button" routerLinkActive="active">List ingredient</a>
      </div>

      <div *ngIf="getAuthService().checkLogged()" class="nav-item">
        <a routerLink="list-dish" class="nav-link text-white" role="button" routerLinkActive="active">List dish</a>
      </div>

    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
