<div class="panel panel-default">
  <div class="panel-body">
    <br>
    <h1 align="center">Dish catalog</h1>
    <br>
    <button *ngIf="authService.checkLogged() && authService.getRole() === 'admin'"
            [routerLink]="['/add-dish/']" routerLinkActive="active" class="btn btn-info">Add dish
    </button>
    <br>
    <br>
    <table class="table table-striped table-bordered table-hover ">
      <thead>
      <tr>
        <th>Name</th>
        <th class="col-lg-8">Ingredients</th>
        <th *ngIf="authService.checkLogged() && authService.getRole() === 'admin'"></th>
        <th *ngIf="authService.checkLogged() && authService.getRole() === 'admin'"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dish of dishes">
        <td><h5>{{dish.dishName}}</h5></td>
        <td><div *ngFor="let ingredient of dish.ingredients"><b>{{ingredient.ingredientName}}</b>, Code: {{ingredient.ingredientCode}}, Amount: {{ingredient.amount}}</div></td>
        <td *ngIf="authService.checkLogged() && authService.getRole() === 'admin'">
          <button [routerLink]="['/edit-dish/', dish.dishId]" routerLinkActive="active" class="btn btn-outline-info">Edit
          </button>
        </td>
        <td *ngIf="authService.checkLogged() && authService.getRole() === 'admin'">
          <button (click)="deleteDish(dish.dishId)" class="btn btn-outline-danger">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
