<br>
<div class="col-md-6 offset-md-3">
  <h3>Edit dish</h3>
  <div class="card">
    <div class="card-body">
      <div [hidden]="submitted" >
        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" [formGroup]="dishForm" novalidate>

          <div class="form-group">
            <label class="col-md-4">Name</label>
            <label for="dishName"></label><input type="text" class="form-control" id="dishName" formControlName="dishName" required [(ngModel)]="dish.dishName" name="dishName">
          </div>
          <div *ngIf="dishForm.controls['dishName'].invalid && (dishForm.controls['dishName'].dirty || dishForm.controls['dishName'].touched)" class="alert alert-danger">
            <div *ngIf="dishForm.controls['dishName'].errors!.required">
              Name is required.
            </div>
          </div>

          <div class="form-group">
            <label class="mr-sm-2" for="ingredients">Ingredients</label>
            <ng-multiselect-dropdown (onSelect)="updateDishIngredients()"
                                     (onDeSelect)="updateDishIngredients()"
                                     (onDeSelectAll)="updateDishIngredients()"
                                     (onSelectAll)="updateDishIngredients()"
                                     [placeholder]="'None'"
                                     id="ingredients"
                                     formControlName="ingredients"
                                     [(ngModel)]="dish.ingredients"
                                     [data]="ingredients"
                                     [settings]="dropdownSettingsIngredients" >
            </ng-multiselect-dropdown>
          </div>

          <div *ngFor="let ingredient of dishIngredients">
            <label class="mr-sm-2" for="typeNumber">{{ingredient.ingredientName}} count</label>
            <input type="number" min="0" id="typeNumber" [(ngModel)]="ingredient.amount" [ngModelOptions]="{standalone: true}" class="form-control"/>
          </div>

          <br>
          <br>
          <div *ngIf="!countsAreCorrect()" class="alert alert-danger">Count of ingredients is incorrect!</div>

          <div class="form-group">
            <button type="submit" [disabled]="dishForm.invalid || !countsAreCorrect()" class="btn btn-primary">Submit</button>
          </div>

          <br>
          <br>

        </form>
      </div>
    </div>
  </div>
</div>
