<div class="container">
  <nav class="navbar navbar-light bg-light navbar-expand-lg">
    <ul class="navbar-nav">

      <li *ngIf="getAuthService().checkLogged()" class="navbar-nav px-3">
        <div class=" textfont" >Hello, {{getAuthService().getUserName()}}</div>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link" role="button" routerLinkActive="active">Home</a>
      </li>
      <li *ngIf="!getAuthService().checkLogged()" class="navbar-nav px-3">
        <a routerLink="login" class="nav-link textfont" role="button">Login</a>
      </li>
      <li *ngIf="!getAuthService().checkLogged()" class="navbar-nav px-3">
        <a routerLink="registration" class="nav-link textfont" role="button">Registration</a>
      </li>
      <li *ngIf="getAuthService().checkLogged()" class="navbar-nav px-3">
        <a (click)="logout()" routerLink="" class="nav-link textfont" role="button">Logout</a>
      </li>

    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
